<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="out_trendy">
  <h1>Welcome to Trendy!<br/>
    <span>Here are some tips to get you started: </span> </h1>
  <h2>Location</h2>
  <p>Trendy is location based and allows users to view 100+ different cities worldwide to see what people are wearing. To view different locations: Click the city name at the top of the recent feed and search through the list of active cities. </p>
  <h2>Feeds</h2>
  <p><strong>Recent Feed: (Tab 1)</strong><br/>
    This is your local feed of all the products posted in your area. Give other users feedback by casting your vote on any item in your local feed! </p>
  <p><strong>Trends Feed: (Tab 1)</strong><br/>
    Here you will find the most popular products in your area. These items have officially been declared “Trends”, based on their number of net votes, and are the top rated items in your area.</p>
  <p><strong>Social Feed: (Tab 2)</strong><br/>
    Track your friends to see what they are posting! </p>
  <p><strong>Occasions: (Tab 3) </strong><br/>
    The “Occasions” tab includes several different feeds for the most common clothing occasions. Occasions are location-based and will be posted throughout the year to correspond to major holidays & events. You can add items to the occasion they see fit either while posting an item, or on the details page of an item. </p>
  <h2>Posting Products</h2>
  <p><strong>1.</strong> Click the + in the upper left-hand corner of the Recent or Trends feed. You will be taken to a web browser within Trendy where you can quickly and easily navigate to your favorite websites. </p>
  <p><strong>2. </strong>Once you have found an item you would like to post, simply click the Post button in the bottom right-hand corner of the browser. <br />
    <br />
    After entering a few details, click the Post button at the bottom of the page and your item will be posted to your local feed! </p>
</div>
</body>
</html>
